*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

.title{
  color: red;
  margin: 30px;
  text-align: center;
}

.write-text {
  text-align: center;
}

input {
  background-color: aqua;
  width: 250px;
  border-radius: 10px;
  padding: 10px 20px;
  border-width: 5px;
  margin-right: 20px;
}

button {
  background-color: red;
  border-radius: 10px;
  padding: 10px 20px;
  border-width: 5px;
  margin-right: 20px;
  cursor: pointer;
}

.container-list{
  background-color: gainsboro;
  padding: 30px;
  border-radius: 10px;
  margin: 40px 20px;
}


ul {
  list-style: none;
}

li{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.container-list ul li i{
  color: gray;
  cursor: pointer;
}

.container-list ul li i:hover{
  color: red;
}

.done span{
  text-decoration: line-through;
}
