<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css' integrity='sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==' crossorigin='anonymous'/>  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&family=Rowdies:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <title> Vue To Do List</title>
</head>
<body>

  <div id="app" class="container">
    <h1 class="title">Vue to Do List</h1>
    
    <div class="write-text">
      <input v-model.trim="newList" @keyup.enter="addList" placeholder="Aggiungi testo nella lista(min 3 parole)" type="text">
      <button @click="addList">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>

    <div class="container-list">
      <ul v-if="lists.length > 0">
        <li
        @click="toggleDone(index)"
        :class="{'done': list.done}"
        v-for="(list, index) in lists">
          <span>{{list.text}}</span>
          <i 
          @click.stop="removeList(index)"
          class="fa-solid fa-xmark"></i>
        </li>
      </ul>
    </div>


      
    </div>
  </div>








  <script src="js/script.js"></script>
</body>
</html>